<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCJYKU-k_105lrkaKTn8nr9gsS8T_fcJ-4</string>
	<key>GCM_SENDER_ID</key>
	<string>307137643765</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.magnolia.jewellers</string>
	<key>PROJECT_ID</key>
	<string>magnolia-jewellers-app</string>
	<key>STORAGE_BUCKET</key>
	<string>magnolia-jewellers-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:307137643765:ios:ab7293fcbef7b02e5531bc</string>
</dict>
</plist>